@font-face {
    font-family: Bebas;
    src: url(../styles/fonts/BebasNeue.woff);
}

body{
    font-family: Bebas;
    margin: 0;
    display: flex;
    background-color: #789461;
}
    aside{
        background-image: url(../images/stairs.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 30vw;
        height: 100vh;
        position: relative;
    }

        .logo-conteiner{
            display: flex;
            align-items: center;
            justify-content: space-around;
            top: 30vh;
            height: 150px;
            position: relative;
            background-color: rgba(0, 0,0, 0.5);
        }

            .logo{
                width: 15vw;
                height: 15vh;
            }

                h1{
                    position: relative;
                    right: 40px;
                    color: aliceblue;
                }

        header{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 30px 50px 10px 50px;
            margin-right: 5%;
            height: 30%;   
            gap: 16px; 
        }    
            h2{
                margin: 0;
                padding: 0;
            }  
            
        form{
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            padding: 10px 0 20px 50px;
            background-color: #DBE7C9;
            width: 70vw;
        }
        
        fieldset{
            display: flex;
            padding: 0;
            border: 0;
            gap: 60px;
        }

            .user-data{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
            }

                input{
                    width: 18vw;
                    border: 1px solid  rgba(0, 0, 5, 0.2);;
                    border-radius: 16px;
                }

                input:focus{
                    outline: 2px solid blue;           
                }
        
        button{
            position: relative;
            right: -50px;
            top: 20px;
            width: 18vw;
            height: 6vh;
            font-family: inherit;
            border: 1px solid  rgba(0, 0, 5, 0.2);;
            border-radius: 16px;
        }       

        p{
            position: relative;
            right: -50px;
            top: 20px;
        }
            