body{
    margin: 0;
    display: flex;
    background-color: #789461;
}
    aside{
        background-image: url(../images/stairs.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 30vw;
        height: 100vh;
        position: relative;
    }

        .logo-conteiner{
            display: flex;
            align-items: center;
            justify-content: space-around;
            top: 30vh;
            height: 150px;
            position: relative;
            background-color: rgba(0, 0,0, 0.5);
        }

            .logo{
                width: 15vw;
                height: 15vh;
            }

                h1{
                    position: relative;
                    right: 40px;
                    color: aliceblue;
                }

        header{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 50px;
            margin-right: 5%;
            height: 30%;   
            gap: 16px; 
        }    
            h2{
                margin: 0;
                padding: 0;
            }  
            
        form{
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            padding: 0 0 20px 50px;
            background-color: #DBE7C9;
        }
        
        fieldset{
            display: flex;
            border: 0;
            gap: 60px;
        }

            .user-data{
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
            }

            input{
                width: 18vw;
            }

            