body{
    margin: 0;
    display: flex;
}
    aside{
        background-image: url(../images/stairs.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 30vw;
        height: 100vh;
        position: relative;
    }

        .logo-conteiner{
            display: flex;
            align-items: center;
            justify-content: space-around;
            top: 30vh;
            height: 150px;
            position: relative;
            background-color: rgba(0, 0,0, 0.5);
        }

            .logo{
                width: 15vw;
                height: 15vh;
            }

                h1{
                    position: relative;
                    right: 40px;
                    color: aliceblue;
                }

        header{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 50px;
            margin-right: 5%;
            height: 30%;   
            gap: 16px; 
        }    
            h2{
                margin: 0;
                padding: 0;
            }       

            